


/* width */
.profile-scroller::-webkit-scrollbar {
    width: 15px;
}
  
  /* Track */
.profile-scroller::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
  /* Handle */
.profile-scroller::-webkit-scrollbar-thumb {
    background: #9370DB; 
    border-radius: 10px;
}
  
  /* Handle on hover */
.profile-scroller::-webkit-scrollbar-thumb:hover {
    background: #663399; 
}



/* width */
.admin-profile-scroller::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
.admin-profile-scroller::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
  /* Handle */
.admin-profile-scroller::-webkit-scrollbar-thumb {
    background: #9370DB; 
    border-radius: 10px;
}
  
  /* Handle on hover */
.admin-profile-scroller::-webkit-scrollbar-thumb:hover {
    background: #663399; 
}


.profile-header {
    background-color: var(--rebecca-purple);
    height: 100px;
    background-image: linear-gradient(to right, var(--rebecca-purple) , var(--medium-purple));
    position: relative;
}

.profile-picture {
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #ffffff;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-items {
    overflow-y: auto;
    overflow-x: hidden;
}
.profile-item {
    background-color: var(--light-grey);
    border: 2px solid white;
    padding: 10px;
    border-radius: 14px;
    margin-top: 5px;
    color: black;
    transition: transform .2s;
}

.profile-item:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.profile-item .icon {
    height: 30px;
    width: 30px;
}

.share-profile-icon {
    float: right;
}

.share-profile-icon:hover {
    cursor: pointer;
}

.site-footer {
    margin-top: 15px;
}

.site-footer a{
    color: var(--rebecca-purple);
    text-decoration: none;
}