/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
/* @import 'bootstrap/css/bootstrap'; */
/* @import 'ngx-toastr/toastr-bs5-alert';
@import 'ngx-toastr/toastr'; */
/* @import './custom-styles.scss'; */

:root {
    --light-grey: #f8f9fa;
    --medium-purple:#9370DB;
    --rebecca-purple:#663399;
}

html, body {
    font-family: 'Muli' !important; 
}

.form-control:focus {
    border-color: var(--medium-purple);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 51, 153, 0.6);
}

a {
 color: var(--rebecca-purple);
}

.btn {
    background-color: var(--rebecca-purple) !important;
    border: var(--rebecca-purple) !important;
}

.error-msg {
    color: red;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust the height as needed */
    font-size: 18px;
    color: #333; /* Adjust the color as needed */
  }

.no-data-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust the height as needed */
    font-size: 18px;
    color: #333; /* Adjust the color as needed */
  }